@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #41217f;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


body {
  color: var(--foreground);
  background: url("/bg/bg.png");
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover; /* Ensures background image or color covers the entire body */
  background-repeat: no-repeat; /* Prevents repeating the background */
  background-attachment: fixed;
}
